__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.env
.DS_Store
.cache/
.mplcache/
.venv/
.venv312/
archive/
filesdownloaded/
src/**/__pycache__/
notebooks/**/__pycache__/
reports/latex/*.aux
reports/latex/*.bbl
reports/latex/*.blg
reports/latex/*.fdb_latexmk
reports/latex/*.fls
reports/latex/*.log
reports/latex/*.out
reports/latex/*.synctex.gz
